/* original */
/* .container {
  display: flex;
  justify-content: space-around;
  padding: 16px 48px;
  margin-top: 24px;
  color: #343a40;
} */

.container {
  font-size: 62.5%;
  padding: 2.4rem 1.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6.4rem;

  max-width: 130rem;
  margin: 0 auto;
}

.profile-pic {
  width: 14rem;
  border-radius: 50%;
}

.heading {
  font-size: 2.4rem;
}

.text-zone {
  font-size: 1.4rem;
  line-height: 1.5;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .image-box {
    display: flex;
    justify-content: center;
  }
  .profile-pic {
    width: 40%;
    height: auto;
    padding-bottom: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .profile-pic {
    width: 80%;
    padding-bottom: 0.8rem;
  }

  .heading {
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .about-text {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .about-text-top {
    margin-top: 0.4rem;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: auto;
    height: calc(100vh - 9.6rem);
  }
}
